@font-face {
    font-family: 'Darling Coffee';
    src: url('/assets/fonts/brainrotBonanza/Darling Coffee.otf') format('opentype'),
         url('/assets/fonts/brainrotBonanza/Darling Coffee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}